{% extends 'user_accounts/base.html' %} {% block content %}

<h3>Password Reset</h3>

<p>
  Forgotten your password? Enter your email address below, and we’ll email
  instructions for setting a new one.
</p>

<div class="alert alert-warning" role="alert">
  Fair Warning: Before proceeding please make sure you are not using the
  application's features!
</div>

<form class="form-inline" method="post">
  <div class="form-group mx-sm-3 mb-2">
    {% csrf_token %} {{form}}
  </div>
  <button type="submit" class="btn btn-primary mb-2">Send Email</button>
</form>

{% endblock %} -->

<!-- <form method="post">
  {% csrf_token %} {{form}}
  <input type="Submit" name="Send email" />
</form> -->
