{% extends 'user_accounts/base.html' %} {% block content %}
<h3>Enter new password</h3>

<p>
  Please enter your new password twice so we can verify you typed it in
  correctly.
</p>

<form class="form" method="post">
  <div class="form-group mx-sm-3 mb-2">
    {% csrf_token %} {{form}}
  </div>
  <button type="submit" class="btn btn-primary mb-2">Update Password</button>
</form>

{% endblock %}

<!-- <form method="post">
  {% csrf_token %} {{form}}
  <input type="Submit" name="Update Password" />
</form> -->
