{% extends 'user_accounts/base.html' %} {% block content %}
<h3>Password Reset Link Sent</h3>

<p>
  We’ve emailed you instructions for setting your password, if an account exists
  with the email you entered. You should receive them shortly.
</p>

<p>
  If you don’t receive an email, please make sure you’ve entered the address you
  registered with, and check your spam folder.
</p>

<p>Sincerely,</p>
<p style="color: #e4ab2e;">The AI Assistant Recruiter Team</p>
{% endblock %}

<!-- {% autoescape off %} To initiate the password reset process for your Account {{
user.email }}, you can also click the link below: {{ protocol }}://{{ domain
}}{% url 'password_reset_confirm' uidb64=uid token=token %} If clicking the link
above doesn't work, please copy and paste the URL in a new browser window
instead. {% endautoescape %} -->
