.pdf_button {
  border-radius: "5px";

  font-size: 14px;
  padding: 6px 12px;
  margin-bottom: 0;

  display: inline-block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 3px solid transparent;
}
.pdf_button:focus,
.pdf_button:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.pdf_button:hover,
.pdf_button:focus {
  color: #ffff;
  text-decoration: none;
}
.pdf_button:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/* default
---------------------------- */
.pdf_button-default {
  color: #ffff;
  background-color: #314455;
  border-color: #9e5a63;
}
.pdf_button-default:focus {
  color: #ffff;
  background-color: #314455;
  border-color: #9e5a63;
}
.pdf_button-default:hover {
  color: #ffff;
  background-color: #9e5a63;
  border-color: #314455;
}
.pdf_button-default:active {
  color: #ffff;
  background-color: #314455;
  border-color: #9e5a63;
}
